#canvas {
    margin: auto;
}
#canvas-box{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=file] {
    display: none;
}

#file-btn {
    border: 1px black solid;
    width: 20em;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    color: black;
    width: 10%;
    display: inline-block;
    text-align: center;
    min-width: 90px;
}

#file-btn:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

#first {
    margin-top: 15px;
}

footer{
    position: fixed;
    bottom: 0;
}
#wrapper{
    margin: auto;
    width: 98%;
    margin-bottom: 350px;
}

button{
    cursor: pointer;
}
#text-center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#downloadLink, #printLink{
    border: 1px black solid;
    width: 20em;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
    color: black;
}

#downloadLink:hover, #printLink:hover{
    background-color: rgb(199, 199, 199);
}

@media only screen and (max-width: 690px) {
    #file-btn{
        display: block;
    }
}